/* 
==================
Estilização global
====================
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-items: center;
    margin: 0px;
    gap: 60px;
    margin-top: 60px;
}

p{
    font-size: 20px;   /* tamano da fonte dos paragrafos de 16 para 20 */
}

a {
    text-decoration: none; /*tira qualquer decoração do link*/
}

img{
    max-width: 100%; /*evita que o overflow da imagem, a img ocupa 100% do elemento pai*/
}
li{
    list-style: none; /*tira as bolinhas da lista*/
}


.menu{
    display: flex; /*alinha os elementos na horizontal*/
    gap: 20px; /*espaco entre os elementos*/
}

.menu a{
    background-color: #ffffff;
    padding: 15px 30px; /*espaco interno, quando utilizamos o ataçho padding com dois valores, o primeiro representa o espaco de cima/baixo e o segundo representa o espaco de esqueda/direita*/
    border-radius: 4px; /* arredondamento das bordas*/
    color:black;
    text-transform: uppercase; /*transforma o texto em maiusculo*/
}

.menu a:hover{
    background-color: #ee2211;
    color: #ffffff;
}

/* 
========================
Estilização do conteúdo  
========================

*/

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao{
    background-color: #ffffff;
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 20px;
}
.subtitulo{
    font-size: 64px;
    text-transform: uppercase;    
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    text-align: end;
    align-self: center;
}

.botao{
    background-color: #ee2211;
    color: #ffffff;
    padding: 15px 30px; 
    text-transform: uppercase;
    border-radius: 4px;
}

.rodape{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 40px;
    width: 100%; /*faz com que o elemento atual fique 100% do tamnaho do elemento pai (você não está utilizando o display)*/
}